<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div id="app">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" id="brand" href="index.html">MurMer</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="index.html">Sign In</a></li>
            <li class="active"><a href="#">Register</a></li>
          </ul>
        </div>
      </nav>
      <div class="container">
        <form class="form">
          <div class="form-group">
            <label for="">Username:</label>
            <input type="text" v-model="username" placeholder="Enter username" class="form-control"/>
          </div>
          <div class="form-group">
            <label for="">Password:</label>
            <input type="password" v-model="password" placeholder="Enter password" class="form-control"/>
          </div>
          <button type="button" v-on:click="signIn" class="btn btn-default">Register</button>
        </form>
      </div>
    </div>
  </body>
<script>
var app = new Vue({
  el: '#app',
  data: {
    username: '',
    password: ''
  },
  methods: {
    signIn: function() {
      axios.post('http://localhost:3000/signup', {
        username: this.username,
        password: this.password
      }).then((response) => {
        alert('user successfully created')
        console.log(response)
        location.href="index.html"
      }).catch((err) => {
        console.log(err);
      })
    }
  }
})
</script>

</html>